body{
background-image:url("s.jpg");
background-size:cover;
}
.head{
display:flex;
padding:20px 30px;
justify-content:space-between;
align-item:center;
}
.head a{
margin-right:20px;
color:rgba(0,0,0,0.8);
font-size:15px;
text-decoration:inherit;
color:white;
}
.head a:hover{
text-decoration:underline;
color:red;
}
.right{
display:flex;
align-item:center;

justify-content:space-between;
}
.right img{
width:25px;
height:25px;
}
.logo-img{
display:block;
width:300px;
height:100px;
margin-top: 175px;
margin-left: auto;
margin-right: auto;
}
#search-input {
display:block;
width:550px;
margin-left: auto;
margin-right: auto;
margin-top:20px;
height: 45px;
 padding-top:10px;
 padding-bottom:10px;
 padding-left: 30px;
 padding-right: 30px;
 border: 1px solid #dfe1e5;
border-radius:30px;
font-size:15px;
outline:none;
}
.btn a{
text-decoration:inherit;
}
.btn a:hover{
text-decoration:underline;
}
.btn{
display:flex;
justify-content:center;

}
.btn{
margin-left:50px;
margin-right:50px;
margin-top:10px;
border:none;
font:blod;
background:#dfele5;
padding-top:8px;
padding-bottom:8px;
padding-left:16px;
padding-right:16px;
border-radius:4px;
font-size:14px;

}
